<div class="main-container clearfix">
	<div class="content-container" id="content">
		<div class="page page-auth">
			<div class="auth-container">
				<div class="form-head mb20">
					<h1 class="site-logo h2 mb5 mt5 text-center text-uppercase text-bold">
						<a href="index.html">PacPontos</a>
					</h1>
					<h5 class="text-normal h5 text-center">Informe sua credencial</h5>
				</div>
				<div class="form-container">
					<form class="form-horizontal" role="form" ng-submit="login($event)">
						<div class="md-input-container md-float-label">
							<input type="text" class="md-input" id="username" ng-model="username"> <label>Email</label>
						</div>
						<div class="md-input-container md-float-label">
							<input type="password" class="md-input" id="password" ng-model="password"> <label>Senha</label>
						</div>
						<div class="btn-group btn-group-justified mb15">
							<div class="btn-group">
								<button type="submit" class="btn btn-success">Acessar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
